<h1>Welcome to My Finance Tracker!</h1>


<p>Budget updated successfully!</p>
<p> Current budget: £<%= '%.2f' % @user.budget %></p>


<form action="/tracker" method="post">

<label for="name">Set new budget amount: £ </label>
<input type="text" name="number" value="<%= @user.budget %>">
<br>
<input type="submit" value="Update budget">

</form>
