<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Finance Tracker</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab" rel="stylesheet">
  </head>
  <body>



    <nav class="main-navigation">
      <ul class="menu">
        <li><a href="/tracker">My Dashboard</a></li>
        <li class="menu-item-has-children"><a href="#">Add...</a>
          <ul class="sub-menu">
            <li><a href="/tracker/new/transaction">Add transaction</a></li>
            <li><a href="/tracker/new/merchant">Add merchant</a></li>
            <li><a href="/tracker/new/category">Add category</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children"><a href="#">View...</a>
          <ul class="sub-menu">
            <li><a href="/tracker/view/transaction">View transactions</a></li>
            <li><a href="/tracker/view/merchant">View merchants</a></li>
            <li><a href="/tracker/view/category">View categories</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="grid">
    <%= yield %>
  </div>
  </body>

</body>
</html>
