<h1>Create Merchant</h1>

<h2>New details:</h2>

<form  action="/tracker/view/merchant" method="post">
  <label for="merchant-name">Merchant Name:</label>
  <input id = "merchant-name" type="text" name="name"  required>
  <br>
  <input type="submit" value="Create Merchant">


</form>
