<h1>Create Category</h1>

<h2>New details:</h2>

<form  action="/tracker/view/category" method="post">
  <label for="category-name">Category Name:</label>
  <input id = "category-name" type="text" name="name"  required>
  <br>
  <input type="submit" value="Create Category">


</form>
